<div fxFlex fxLayout="column" fxLayoutGap="10px">
    <mat-toolbar fxFlex color="primary">
        <div class="header" fxFlex fxLayoutAlign="start center">
            VIDEO
        </div>
    </mat-toolbar>
    <mat-dialog-content>
        <div class="field-nome" fxLayout="column">
            <mat-form-field fxFlex>
                <input matInput placeholder="Título" [(ngModel)]="video.titulo" required="true">
            </mat-form-field>
            <mat-form-field fxFlex>
                <input matInput placeholder="Descrição" [(ngModel)]="video.descricao" required="true">
            </mat-form-field>
            <mat-form-field fxFlex>
                <input matInput placeholder="URL" [(ngModel)]="video.url" required="true">
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-select #canalSelected placeholder="Canal" [(ngModel)]="video.canal">
                    <mat-option *ngFor="let canal of canais" [value]="canal">
                      {{canal.titulo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-select #categoriaSelected placeholder="Categoria" [(ngModel)]="video.categoria">
                    <mat-option *ngFor="let categoria of categorias" [value]="categoria">
                      {{categoria.nome}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions class="botoes" fxLayoutAlign="end center">
        <button mat-raised-button color="accent" *ngIf="video.id" (click)="remove()">Remover</button>
        <button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
    </mat-dialog-actions>
</div>